@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-accent: #F59E0B;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  
  --font-heading: var(--font-playfair);
  --font-sans: var(--font-jakarta);
}

@utility glass {
  @apply bg-card/70 backdrop-blur-md border border-foreground/10 shadow-xl shadow-black/5 dark:shadow-white/5;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-blue-600 dark:from-accent dark:to-yellow-200;
}

@layer base {
  :root {
    --background: #FAFAFA;
    --foreground: #0F172A;
    --primary: #0F172A;
    --card: #ffffff;
  }
  
  .dark {
    --background: #0B0F19;
    --foreground: #F8FAFC;
    --primary: #F8FAFC;
    --card: #111827;
  }
}
